.navbar-brand{
    margin-left: 10%;
}

.d-flex{
    margin-right: 10%;
}

.base-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.base-card{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    justify-content: center
}

.card-pictures{
    width: 25rem;
    height: 40rem;
}

.text{
    width: 50rem;
    margin-left: 5rem;
    
}